.container {
  padding-top: 50px;
}

.board table {
  align: center;
  text-align: center;
}

tr.middle {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

td.middle {
  border-left: 4px solid black;
  border-right: 4px solid black;
}

.board td {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
