html,
body,
.row {
  min-height: 100vh;
}

body {
  background: rgba(212, 228, 239, 1);
  background: -moz-linear-gradient(45deg, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(212, 228, 239, 1)), color-stop(100%, rgba(134, 174, 204, 1)));
  background: -webkit-linear-gradient(45deg, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
  background: linear-gradient(45deg, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1);
}

.quote {
  padding-top: 10vh;
}

.quote h1 {
  padding-top: 10vh;
  font-family: "Special Elite";
}

.quote h3 {
  font-family: "Special Elite";
}

.swanson {
  height: 100vh;
  max-height: 1080px;
  max-width: 100%;
  background-image: url('https://assets.zackward.net/Ron-Swanson.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}