.container {
  padding-top: 50px;
}

.card {
  max-width: 350px;
  margin: 0 auto;
}

.pomodoro-timer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pomodoro-timer h1 {
  margin-bottom: 5px;
}

#pomodoro-progress {
  margin-top: 10px;
  margin-bottom: 20px;
}

#pomodoro-progress img {
  max-height: 30px;
  max-width: 30px;
}

#start-stop,
#reset {
  width: 30%;
}