#game-of-life {

    width: 100%;

    #gol-board {
        width: 750px;
        overflow: hidden hidden;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #gol-board::before {
        content: " "
    }

    .gol-clear {
        clear: left;
    }

    .gol-cell {
        float: left;
        width: 10px;
        height: 10px;
        /* border: 1px solid black;
        background: slategray; */
    }

    .gol-cell::before {
        content: " ";
    }

    .alive {
        background: black;
        color: white;
    }

    nav {
        z-index: 100;
    }
}