html,
body,
.full-height {
  min-height: 50vh;
}

.search-box {
  
  padding-top: 20vh;
}

@media (min-width: 992px) { 
  html,
  body,
  .full-height {
    min-height: 100vh;
  }
  
  .search-box {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 33vw;
  padding: 0;
  }
  
  .search-box-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: Translate(-50%, -50%);
  }
}

input[type=text] {
  width: 80%;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type=text]:focus {
  border-radius: 10px;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
  outline: none;
}

.result {
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

.result:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#searchResults a,
#searchResults a:hover {
  text-decoration: none;
  color: inherit;
}

#wikipediaLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wikipediaLogo img {
  width: 500px;
  height: 500px;
}